*.o
*.a
*.res
*.dll
*.def
*.exe
*.so
*.pc
*.log
mapslang/map
map
.vs/
/.cproject
/.project
/.settings/
tmp/
/build*
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
putemple
puttrain
putgems
viewmap*
__pycache__/